@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family:
    montserrat,
    -apple-system,
    system-ui,
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #fff;
}

a {
  text-decoration: none;
}

.el-container {
  flex-direction: column;
}

a.button {
  border: 1px solid #ccc;
  color: #ccc;
  padding: 8px;
  display: inline-block;
  border-radius: 4px;
}

a.button ~ a.button {
  margin-left: 8px;
}

.section-title {
  background: linear-gradient(135deg, #a476ff 25%, #eee5ff, #a476ff 75%);
  background-size: 400% 100%;
  background-clip: text;
  color: transparent;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
  animation: shine 3s linear infinite;
}

.secund-title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  30%,
  70% {
    background-position: 0% 50%;
  }
}
